main {
    padding: 10px;
}

body {
    background: lightblue;
}

#header {
    text-align: center;
}

.task-list input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: none;
    background-color: greenyellow;
}